/*body
{
	background: url("back1.jpg") no-repeat center center fixed;

	background-size: cover;
	
}*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Mate SC', serif;
}
nav{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(rgba(179, 133, 96, 0.746),rgba(123, 155, 153, 0.746)), url(./ironman.jpg);
}
.icon a img{
    margin: 0 30px;
    width: 100px;
    position: absolute;
    top: 10px;
    z-index: 5;
}
.links ul{
    list-style: none;
    margin: 20px 50px;
}
.links ul li{
    display: inline-block;
    margin: 0 40px;
}
.links ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 700;
}
body
{
	padding: 0px 0px;
	margin: 0px 0px;
}
.cont
{display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 3px solid red;*/
	background-color: #d5eaf5;
	background: url(jeep.png) no-repeat center center;
	background-size: cover;
}
.cont h1
{
	font-size: 60px;
	
	
	font-family: 'Baloo Bhai 2', cursive;
	color: purple;

}
#cont2 h1
{
	color: white;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
	border: 3px solid green;
	padding: 30px ;
	margin: 40px;
	border-radius: 40px;
	font-family: 'Baloo Bhai 2', cursive;
	width: 70%;

}
.box:hover
{
	transform: scale(1.1);

}
.box h2
{
	font-size: 40px;
}
.box1
{
	display: flex;
	flex-direction: row;
	font-size: 22px;
	font-family: 'Chela One', cursive;
	font-family: 'Pattaya', sans-serif;
}
.box1 img {
	height: 160px;


}
.box1 div
{
	margin: 12px 12px;
}
#id1
{
	background-color: #e7fbe7;
	
}
#id1 img
{
	border: 2px solid green;
	border-radius: 10px;
}
#id2
{
	background-color: #fff0d5;

}
#id2 img
{
	border: 2px solid orange;
	border-radius: 10px;
}
#id3
{
	background-color: #eaeaea;
}
#id3 img
{
	border: 2px solid black;
	border-radius: 10px;
}
#cont2
{
	background-color: #e0e0e0;
	background: url("coding.png") no-repeat center center;
	background-size: cover;

}
.box button
{
	background-color: red;
	color: white;
	font-size: 1.4rem;
	padding: 10px 12px;
	border-radius: 13px;
	cursor: pointer;
}
.box button:hover
{
	color: red;
	background-color: white;
	border: 2px solid red;
	
}
.index
{
	display: flex;
	flex-direction: column;
	align-items: center;
	/*margin: 50px 50px;*/
	padding: 50px 50px;
	/*border: 2px solid black;*/
	background-color: #ecd3d3;

}
.boxe a
{
	margin: 12px 30px;
}

.index img
{
	height: 160px;
}
.index img:hover
{
	transform: scale(1.2);
}
.index h1
{
	font-size: 50px;
	
	
	font-family: 'Baloo Bhai 2', cursive;
	color: purple;
}
.notes
{
	display: flex;
	/*border: 2px solid red;*/
	padding: 50px 50px;
	align-items: center;
	justify-content: center;
}
.notes img
{
	height: 250px;
	width: 250px;
}
.notebox
{
	border: 4px solid black;
	display: flex;
	flex-direction: column;
	margin: 12px 40px;
	align-items: center;
	padding: 20px 30px;
	border-radius: 15px;
}
.notebox button
{
	background-color: red;
	color: white;
	font-size: 1.4rem;
	padding: 10px 12px;
	border-radius: 13px;
	cursor: pointer;
	margin-top: 15px;

}

.notebox button:hover
{
	color: red;
	background-color: white;
	border: 2px solid red;
	
}


.inner-footer
{
    margin: 0px 0px;
    padding: 0px 0px;
    background-color: black;
}
.social-link
{
    display: flex;
   /* border: 2px solid red;*/
}
.social-link ul
{ padding: 10px;
    width: 300px;
    /*height: 30px;*/
    margin: auto;
    display: flex;
}
.social-item
{
    list-style: none;
}
.social-item a{
    padding: 10px 20px;
     font-size: 40px;
     color: #6cccc6;
     transition: all .25s;

}
.social-item a:hover
{
    color: #54a39e;
}
.quick-links
{
    display: flex;
    width: 410px;
    height: 70px;
    margin: auto;
}
.quick-links ul
{
    display: flex;
}
.quick-item
{
    list-style: none;
}
.quick-item a
{
    text-decoration: none;
    padding: 0px 15px;
    font-size: 20px;
    color: white;
    transition: all .25;

}
.quick-item a:hover
{
    color: #6cccc6;
}
.outer
{
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    background-color: #3f3f3f;
}






.links button
{
    padding: 4px 14px;
    border 2px solid black;
    border-radius: 5px;
     font-size: 17px;
    font-weight: 700;
}
.links button:hover
{
    border: 2px solid white;
    color: white;
    background-color: black;
    transform: scale(1.1);
}